html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
}

h1 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Le murmure', sans-serif;
  font-size: 8rem;
  line-height: 7rem;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.body {
  min-height: 100%;
  background-color: #fff;
  position: relative;

}


.app {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    max-height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text {
  margin-top: 1rem;
  line-height: 1rem;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.h1 {
  padding-top: 1rem;
  line-height: 6rem;
}

.grid {
  position: relative;
  z-index: 3;
}

.grid-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-items.g2 {
  padding-left: 24px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.divider {
  width: 120px;
  height: 2px;
  background-color: #000;
}

.divider.d2 {
  width: 160px;
}

.divider.d3 {
  width: 320px;
}

.contents {
margin: auto;
max-width: 1100px;
position: relative;
padding: 3rem;

}  


.frame {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;

  padding: 2rem 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.frame__demos {
  text-align: center;
}

.frame__demo {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  color: #000;
  text-decoration: none;
}

.frame__demo--current{
  text-decoration: underline;
}

.frame__demo:hover{
  text-decoration: line-through;
}

.italic {
  text-transform: none;
}

.italic {
  text-transform: none;
  color: #000;
  font-style: italic;
}


@media (max-width: 991px) {

  .h1 {
    font-size: 6rem;
  }

  .divider {
    width: 90px;
  }

  .divider.d2 {
    width: 110px;
  }

  .divider.d3 {
    width: 280px;
  }

  .frame__demo {
    font-size: 0.75rem;
  }
    
}

@media (max-width: 767px) {
  .link {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }

  .h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .grid-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .italic {
    font-size: 0.55rem;
  }

  .frame__link {
    font-size: 0.55rem;
  }
    
     .frame__demo {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

@media (max-width: 479px) {
    .app {
    overflow-y: hidden;
    position: relative;
    max-height: 100%;
    }
    
    .contents{
    padding: 1rem;
    } 

  .text {
    font-size: 0.8rem;
  }

  .link {
    margin: 4vw 0px;
    
  }

  .h1 {
    padding-top: 2vw;
    font-size: 18vw;
    line-height: 18vw;
  }

  .frame {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .frame__demo {
    font-size: 1rem;
    line-height: 1rem;
  }

}


/* Footer */

footer {
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.8rem;
  text-align: center;
}

footer p{
    font-size: 0.8rem;
    margin: 0.4rem;;
}

.fa {
    margin: 0;
    padding: 0.4rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.fa:hover {
    opacity: 0.6;
}

/* Project page */
.items {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  /* Styling preference */
  justify-content: space-between;
}

.item {
  flex: 0 0 280px;
  margin-right: 1rem; 
}

.items-columns {
  flex-flow: row wrap;
  padding-right: 0; 
}

.items-columns .item {
  flex: 1 1 20%;
  margin-bottom: 1rem; 
}


.img {
	position: relative;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: flex-start;
}

strong {
    font-weight: 600;
}

.flex {
    padding-right: 1.5rem;
}

.article {
    margin-top: 1rem;
    padding: 1.5rem;
    border-color: #ececec;
    border: 1px solid;
}

.article a {
    color: black;
    text-decoration: none;
}

.article a:hover {
    text-decoration: line-through;
}

p a {
    color: black;
    text-decoration: none;
}

p a:hover {
    text-decoration: line-through;
}

hr {
    border: 0.5px solid black;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
@font-face {
  font-family: 'Le murmure';
  src: url('../fonts/Le-Murmure.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


/* Menu */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 1rem;
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  text-decoration: line-through;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
}

.overlay p{
    color: #fff;
    margin: 0;
    font-weight: 100;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  top: 15px;
  right: 35px;
  }
}