// colors
$color-0: #2F3540; // Navy
$color-1: #666A73; // Grey
$color-2: #D9D1C7; // Dark beige
$color-3: #F2EDE4; // Beige
$color-4: #ffffff; // White

// fonts 

$primary-font: 'Playfair Display', serif;

$animation-duration: 0.5s;