// colors

$color-1: #0f1926; // Ebony
$color-2: #eebb00; // Corn
$color-3: #ebebeb; // Gallery
$color-4: #ffffff; // White

// fonts 

$primary-font: 'Inconsolata', monospace;

$animation-duration: 0.5s;